# Python
__pycache__/
*.pyc
.venv/
.env

# Tools
.gemini/
.venv*/
dist/
build/

# OS / Editors
.DS_Store
.vscode/

# virtual env / lokalne środowiska
.checkiopy/
venv/

# cache narzędzi
.mypy_cache/
.ruff_cache/
.pytest_cache/
